{% comment %}
  If previewing locally, site.root is set in _config_dev.yml.
  If site.root is not set, assume we're viewing on the web.
{% endcomment %}
{% if site.root %}
  {% assign root = site.root %}
{% else %}
  {% assign root = site.github.url %}
{% endif %}
<script src="{{ root }}/assets/js/jquery.min.js"></script>
<script src="{{ root }}/assets/js/bootstrap.min.js"></script>
<script src="{{ root }}/assets/js/lesson.js"></script>
<script src="{{ root }}/assets/js/katex.min.js"></script>

  <script>
    var scripts = document.getElementsByTagName("script");
    for (var i = 0; i < scripts.length; i++) {
      /* TODO: keep going after an individual parse error. */
      var script = scripts[i];
      if (script.type.match(/^math\/tex/)) {
        var text = script.text === "" ? script.innerHTML : script.text;
        if (text.substring(5, 10) == "CDATA"){
            text = text.substring(11, text.length - 4);
        }
        console.log(text);
        var options = script.type.match(/mode\s*=\s*display/) ?
                      {displayMode: true} : {};
        script.insertAdjacentHTML("beforebegin",
                                  katex.renderToString(text, options));
      }
    }
    document.body.className += " math_finished";
  </script>
